.homeContainer {
    width: 100%;
}

.cardRound{
    background-color: white;
    color:#8C69F4;
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 1px 4px 0.5px rgba(0,0,0,0.25);
    margin-right: 10px;
}

.cardRoundTitle{
    width: 100%;
    height: auto;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    border-bottom-width: 10px;
    border-bottom-color: #8C69F4;
    font-weight: 600;
}

.cardRoundContent{
    height: min-content;
    margin-left: 25px;
    margin-bottom: 10px;
}

.phaseContainerTitle{
    margin-left: 25px;
}

.phaseContainerContent{
    margin-right: 15px;
}

td {
    border-bottom:solid;
    border-color:#8C69F4;
}