<html xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="fr">
<head>
  <div th:replace="fragments/header"></div>
  <link rel="stylesheet" href=""/>
  <title>Affichage Phase</title>
</head>

<body class="bg">
<div class="pageContainer">
  <div th:replace="fragments/sidebar"></div>
  <div class="contentContainer">
    <div th:replace="fragments/searchbar"></div>
    <div class="homeContainer">
      <div>
        <div class="contentTitle">Création d'une phase</div>

      </div>
    </div>
  </div>
</div>
</body>
<div th:replace="fragments/footer"></div>
</html>