<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <div th:replace="fragments/header"></div>
  <title>Staff</title>
</head>
<body class="bg">
<div class="pageContainer">
  <div th:replace="fragments/sidebar"> </div>
  <div class="contentContainer">
    <div th:replace="fragments/searchbar"> </div>
    <div class="homeContainer">
      <div>
        <div class="formContainer">
          <div th:each="player, itemStat : *{players}" class="inputContainer">
            <b th:text="'Joueur ' + ${itemStat.index+1}">Joueur: </b>
            <div class="submitContainer playerFormContainer">
              <div class="inputContainer">
                <label  for="forename" class="inputLabel">Prénom</label>
                <input  required="true" id = "forename" th:field="*{players[__${itemStat.index}__].forename}"  class="inputTournament"/>
              </div>
              <div class="inputContainer">
                <label  for="surname" class="inputLabel">Nom de famille</label>
                <input id = "surname" th:field="*{players[__${itemStat.index}__].surname}" class="inputTournament"/>
              </div>
              <div class="inputContainer">
                <label for="email" class="inputLabel">Mail</label>
                <input  required="true" type="email" id = "email" th:field="*{players[__${itemStat.index}__].mail}"  class="inputTournament"/>
              </div>
              <div class="inputContainer">
                <label for="club" class="inputLabel">Club</label>
                <input   id = "club" th:field="*{players[__${itemStat.index}__].club}"  class="inputTournament"/>
              </div>
            </div>
            <input hidden th:name="|players[${itemStat.index}].teamId|" th:value="${team.id}"/>
          </div>
      </div>
    </div>
  </div>
</div>
</body>
<div th:replace="fragments/footer"></div>
</html>


