<html xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="fr">
<head>
    <div th:replace="fragments/header"></div>
    <link rel="stylesheet" th:href="@{/styles/tournament/view.css}" href="../" />
    <title>View Tournoi</title>
</head>
<body class="bg">
    <div class="pageContainer">
        <div th:replace="fragments/sidebar"></div>
        <div class="contentContainer">
            <div th:replace="fragments/searchbar"></div>
            <div class="contentTitle">
                <div class="setInline statusCircleGreen"></div>
                <p class="setInline" th:text="| - ${tournament.name} - (${tournament.status})|"></p>
            </div>
            <div class="partContainer">
                <h2 class="partTitle">Informations générales</h2>
                <p th:text="|Le tournoi ${tournament.name} du ${tournament.date} aura lieu à ${tournament.location} débutera le ${tournament.date}.|"></p>
                <p>Merci d'apporter votre propre jeu de molkky et de quoi manger pour la journée. Le club ne propose pas de services de restauration.</p>
                <br>
                <p th:text="|Le nombre d'équipes pour ce tournoi est compris entre ${tournament.minTeam} et ${tournament.maxTeam}.|"></p>
                <p th:text="|Il y a actuellement ${nbTeam} équipes inscrites à ce tournoi.|"></p>
                <p th:text="|La phase courante est la phase n°${tournament.indexPhase}.|"></p>
            </div>

            <div class="partContainer">
                <h2 class="partTitle">Format du tournoi</h2>
                <p>Le tournoi suit un format classique, à savoir une phase de poules suivie d'un bracket.</p>
                <h3 class="partSubtitle">Rounds</h3>
                <div class="dir">
                    <div>
                        <ul style="text-align: end;" class="roundsList">
                            <li>Phase de poules</li>
                            <li>Quarts de finale</li>
                            <li>Demi finale</li>
                            <li>Finale</li>
                        </ul>
                    </div>
                    <div>
                        <ul class="roundsList">
                            <li>Best of 1</li>
                            <li>Best of 3</li>
                            <li>Best of 3</li>
                            <li>Best of 5</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="partContainer">
                <h2 class="partTitle">Bracket</h2>
                <p>The following image will be replaced by the right planning when the US will be developed and tested.</p>
                <img th:src="@{/assets/bracket.png}" class="imgBracket" alt="Tournament Bracket">
            </div>

            <div class="partContainer">
                <h2 class="partTitle">Participants</h2>
                <div id="participantContainer">

                    <th:block th:each="team : ${tournament.getTeams()}">
                        <div class="teamCard">
                            <h3 class="teamName" th:text="${team.getName()}"></h3>
                            <div class="cardContentContainer">
                                <p class="teamLogo"></p>
                                <ul class="roundsList">
                                    <th:block th:each="team : ${team.getUserTournamentRoles()}">
                                        <li class="teamMember" th:text="${team.getUser().getSurname()}"></li>
                                        <li>hello</li>
                                    </th:block>
                                </ul>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>

            <div class="partContainer">
                <h2 class="partTitle">Règles</h2>
                <p>A définir...</p>
            </div>

            <form action="#" th:action="@{/tournament/view}" method="post"  class="formContainer">
                <div th:if=" ${user} != null">
                    <div th:if=" ${user.role} == 'Administrator'">
                        <div th:if=" ${tournament.status} == 'Available'">

                            <div th:if=" ${tournament.isVisible} == false">
                                <button id="isValid" name = "visible" class="primaryButton" type="submit">Rendre publique le tournois</button>
                            </div>

                            <div th:if=" ${tournament.isVisible} == true">
                                <button id="startTounament" name = "launch" class="primaryButton" type="submit">Lancer le tournois</button>
                            </div>
                        </div>
                    </div>
                </div>
                <input hidden th:value="${tournament.id}" th:name="tournamentId"/>
            </form>
        </div>
    </div>
</body>
<div th:replace="fragments/footer"></div>
</html>